@import "_shared.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $background;
}

input {
  height: 32px;

  transition: .2s;

  &:focus {
    transition: .1s;

    box-shadow: 0 0 3px #269B10;
    border: 1px solid #269B10;
  }
}

.app {
  display: flex;
  height: 100%;

  &__title {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    padding: 20px 30px;

    margin-top: 70px;
    margin-bottom: 70px;

    background: $box;
    border: 2px dashed rgba(0, 0, 0, 0.8);
    border-radius: 7px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 10px;
  }
}

.questions-list {
  flex: .25;

  margin-left: 40px;
}

.list-item {
  font-size: 14px;
  height: 32px;

  transition: 0.3s;

  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  cursor: pointer;

  justify-content: space-between;
  align-items: center;

  padding: 5px;

  border: 0.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  &__name {
    font-size: 14px;
  }

  &--action {
    margin-top: 5px;
  }
}

.question {
  flex: .4;
  margin-left: 60px;

  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 14px;

    margin-bottom: 15px;
    width: auto;

    padding: 5px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    background: #EDEBEB;
  }

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 100px;
    row-gap: 10px;
  }

  &__button {
    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    padding: 5px;

    height: 40px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    white-space: nowrap;
    flex: 1;
  }
}

.option {
  margin-bottom: 10px;
  display: flex;

  &--action {
    transition: 0.3s;

    display: flex;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    height: 32px;

    text-align: center;

    cursor: pointer;

  }

  &__remove {
    transition: 0.3s;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    margin-left: 10px;

    cursor: pointer;
  }

  &__icon {
    width: calc(100% - 10px);
    height: 1px;
    background-color: black;

  }

  &__text {
    font-size: 14px;
    width: 100%;

    padding: 5px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    background: #EDEBEB;
  }
}

.right-box {
  flex: .35;
  margin-left: 60px;
  margin-right: 40px;
}

.question-type {
  gap: 70px;

  &__types {
    row-gap: 15px;
    column-gap: 30px;

    display: flex;
    flex-flow: row wrap;

    margin-bottom: 20px;
  }

  &__item {
    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    padding: 5px;

    height: 40px;

    border: 0.5px solid rgba($default, 0.8);
    border-radius: 5px;

    white-space: nowrap;
    flex: 1;
  }
}

.question-theme {
  gap: 70px;

  &__themes {
    display: flex;
    flex-flow: row wrap;

    row-gap: 15px;
    column-gap: 30px;

    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    width: calc(50% - 15px);
    aspect-ratio: 16 / 9;

    cursor: pointer;

    background-color: rgba($default, 0.15);
  }

  &__buttons {
    display: flex;
    flex-flow: row;
    gap: 30px;
  }

  &__button {
    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    padding: 5px;

    height: 40px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    white-space: nowrap;
    flex: 1;
  }
}

.action {
  transition: .2s;

  &:hover {
    transition: .3s;
  }

  &--positive {
    &:hover {
      background: rgba($color: $positive, $alpha: .15);
    }
  }

  &--negative {
    &:hover {
      background: rgba($color: $negative, $alpha: .15);
    }
  }

  &--default {
    &:hover {
      background: rgba($color: $default, $alpha: .15);
    }
  }
}

