html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E7E7E7;
}

input {
  height: 32px;
}

.app {
  display: flex;
  height: 100%;

  &__title {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    margin-top: 70px;
    margin-bottom: 70px;

    background: #EDEBEB;
    border: 2px dashed rgba(0, 0, 0, 0.8);
    border-radius: 7px;
  }

  &__wrapper {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
}

.questions-list {
  flex: .25;

  margin-left: 40px;
}

.list-item {
  font-size: 14px;
  height: 32px;


  transition: 0.3s;

  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  cursor: pointer;

  justify-content: space-between;
  align-items: center;

  padding: 5px;

  border: 0.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  &__name {
    font-size: 14px;
  }

  &:hover {
    background-color: #D9D9D9;
  }

  &:last-child {
    margin-top: 5px;

    &:hover {
      background: rgba(66, 255, 0, 0.15);
    }
  }
}

.question {
  flex: .4;
  margin-left: 60px;

  &__title {
    font-size: 14px;

    margin-bottom: 15px;
    width: auto;

    padding: 5px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    background: #EDEBEB;
  }

  &__new-option {
    transition: 0.3s;

    display: flex;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    height: 32px;

    text-align: center;

    cursor: pointer;

    &:hover {
      background: rgba(66, 255, 0, 0.15);
    }
  }
}

.option {
  margin-bottom: 10px;
  display: flex;

  &__remove {
    transition: 0.3s;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    margin-left: 10px;

    cursor: pointer;

    &:hover {
      background: rgb(255, 0, 0, .15);
    }
  }

  &__icon {
    width: calc(100% - 10px);
    height: 1px;
    background-color: black;

  }

  &__text {
    font-size: 14px;
    width: 100%;

    padding: 5px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    background: #EDEBEB;
  }

}

.question-type {
  flex: .35;
  margin-left: 60px;
  margin-right: 40px;

  &__types {
    padding: 0 30px;

    row-gap: 15px;
    column-gap: 30px;

    display: flex;
    flex-flow: row wrap;

    margin-bottom: 40px;
  }

  &__item {
    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    padding: 5px;

    height: 40px;

    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    white-space: nowrap;
    flex: 1;

    &:hover {
      background-color: #D9D9D9;
    }
  }
}